body {
  background-color: #1B1B1B;
  color: white;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: inline-block;
  padding: 10px 20px;
  background-color: #94EBEB;
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  min-width: 150px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown2 {
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  flex-wrap: wrap;
}

.dropdown-content2 p {
  color: black;
  padding: 12px 16px;
  margin: 2px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 p:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
  display: flex;

}
#file{
  border-radius: 10px;

  transition: all 0.3s;
  
}
#file:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}



#fileInput {
  display: none;
}

.suche {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 8px;
}